<%= form_for(@quiz_result) do |f| %>
  <% if @quiz_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz_result.errors.count, "error") %> prohibited this quiz_result from being saved:</h2>

      <ul>
      <% @quiz_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :quiz_id %><br>
    <%= f.number_field :quiz_id %>
  </div>
  <div class="field">
    <%= f.label :n_correct %><br>
    <%= f.number_field :n_correct %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
